@font-face
{
    font-family:"Champagne";
    src:url('police/Champagne.ttf');
}
@font-face
{
    font-family:"Arti";
    src:url('police/Arti.ttf');
}
body{
    padding:0;
    margin:0;
    background: url(image/background.png) no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-size:1em;
    
}

/*debut du css header */
header
{
    top:0;
    z-index:3;
    width: 100%;
    position:fixed;
    height: 6em;
    background-image: linear-gradient(#f7b05b 0%, #F7934c 100%);
    animation: ease 0.8s 1 normal both running slidetop;
}
header nav
{
    height:64px;
    
}
header img
{
    position: absolute;
    float:left;
    height:6em;
}
header li
{
    display:inline-block;
    margin-left:10%;
    font-family:"big_noodle_titling",Verdana,serif;
    font-size:1.2em;
    border-left:2px solid black;
    padding-left:15px;
    color:black;
}
a
{
    color:black;
    text-decoration:none;
}
header a:hover
{
    color:white;
}
header ul
{
    padding-top:36.2px;
    margin:0;
    text-align: center;
    margin-left: 45vw;
}
.progress-container
{
    top:0;
    animation: ease 0.8s 1 normal both running slidetopprogress;
    z-index:3;
    position:fixed;
    margin-top: 6em;
    width: 100%;
    height: 8px;
}
.progress-bar 
{
    position: absolute;  
    height: 8px;
    width: 0%;
}
.progress-container
{
    width: 100%;
    height: 8px;
}
.progress-bar
{
    height: 8px;
    background: #eb7825;
    width:0;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
/*Fin du css header */


/*Debut responsive header*/

/*Fin responsive header*/

/*Debut main css*/
main{
    z-index: 1;
}

#zone-encarts {
    padding-bottom: 3.9rem;
    
}
.encarts
{
    margin-top: -10rem;
}

.encarts .u-wrapper {
    display: flex;
}

.encarts .encarts-col{
    max-width: 40rem;
    display: flex;
}

.encarts .encarts-bloc {

    height: 200px;
    background-image: linear-gradient(#F7934c 0%, #f7b05b 100%);
    padding:25px;
    
    animation: ease 1.5s 1 normal both running slideleft;
}
.u-wrapper
{
    margin-left: 440px;
}
.encarts-text{
    font-size: 1.6rem;
}
.encarts-bloc h2 
{
    margin-left: 10px;
    font-family: "Be Vietnam", Arial, Tahoma, Verdana, Helvetica, sans-serif;
}
#container_paysage{
    position: absolute;
 
    margin:0;padding:0;
    width:100%;
    background-size: cover;
}
#paysage
{

    width:100%;
    background-size: cover;
}
#corps h3
{
    font-family: "Be Vietnam", Arial, Tahoma, Verdana, Helvetica, sans-serif;margin:0% 0% 0.5% 2%;
}

.grid-container{
 
    margin:13vh 10vh 13vh 10vh;
    background-image: url(image/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.95;
    align-items: center;
    padding:10px 15vw;
    line-height:3.5vh;
}
h3
{
font-size:150%;
font-family:"Arti",Verdanna, serif;
text-align: center;
padding: 15px;
}
.formulaire 
{
font-family:"Champagne", Verdanna, serif;
font-weight:bold;
display:flex;
justify-content: center;
}
.formulaireinside{
    display:flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    justify-content: center;
}
.formulaire input
{
margin-bottom:8%;
width: 100%;
}
#textarea{
    height:80px;
}
iframe{
    height: 70vh;
    width:60vw;
}
footer{
    background:black;
    bottom:0;
    width:100%;
    height:60px;
    color:white;
    text-align: center;
    border-top: 1px solid white;

}
body footer a{

    display: inline-block;
    padding: 5px;
}
footer a img{
    margin:0 10px 0 10px;
    padding:5px;
    height: 30px;
    width: 30px;
    filter: invert(100%);
}
@keyframes slideleft{
    from {
        margin-left: -1000px;
        opacity:1;
        }
      
        to {
        margin-top: 10px;
        opacity:1;
        } 
}

@keyframes slidetop {
    from {
    margin-top: -5%;
    opacity:1;
    }
  
    to {
    margin-top: 0;
    opacity:1;
    }
  }
  @keyframes slidetopprogress {
    from {
    margin-top: -5%;
    opacity:0;
    }
  
    to {
    margin-top: 6em;
    opacity:1;
    }
  }  
@media all and (max-width: 1000px)
{
    header img{
        height: 4em;
    }
        header
        {
            height: 4em;
        }
        header ul
        {
            padding-top:20.5px;
            margin-left: 30vw;                      
        }
        header li
        {
        font-size:1em;
        }
        .progress-container
        {
            margin-top: 4rem;
        }
        #zone-encarts {
            padding-bottom: 4rem;
            
            
        }       
        .encarts .u-wrapper {
            height: 200px;
            margin-left: 200px;
        }
        .encarts .encarts-bloc {
            height: 150px;
        }
        .encarts-text{
            font-size: 1.2rem;
        }
        .grid-container{
            height:600px;
        }
        .grid-container{
        font-size:1.8vh; 
        height: auto;       
        }
        iframe{
            height: auto;
            width:60vw;
        }
        footer{
            margin-top: 50vh;
        }
        @keyframes slidetopprogress {
            from {
            margin-top: -5%;
            opacity:0;
            }
          
            to {
            margin-top: 4em;
            opacity:1;
            }
          }  

}
@media all and (max-width: 550px)
{
        header img{
            height: 3em;
        }
        header
        {
             height: 3em;
           }
        header ul
        {
            padding-top:5.5px;
            margin-right: 10px;
            padding-left:0;
        }
        header li
        {
            margin-left:40px;
            font-size:0.6em;
        }
        .progress-container
        {
            margin-top: 3rem;
        }
        #zone-encarts {
            padding-bottom: 2rem;                       
        }       
        .encarts .u-wrapper {
            margin-left: 100px
        }
        .encarts .encarts-bloc {
            margin-top: 6em;
            width:80px;
            height:70px;
            padding:15px;
        }
        .encarts h2{
            font-size: 0.7rem;
            margin-top:0;
        }
        @keyframes slidetopprogress {
            from {
            margin-top: -5%;
            opacity:0;
            }
          
            to {
            margin-top: 3em;
            opacity:1;
            }
          }          
}